<nav class="navbar navbar-expand-lg bg-body-secondary">
  <div class="container">
    <a class="navbar-brand" href="{{url_for('index')}}"
      ><img
        src="../static/image/icon.png"
        alt="Bootstrap"
        width="50"
        height="auto"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item px-2">
          <a
            class="nav-link"
            href="{{url_for('imageResize')}}"
            style="color: black"
            >Image Resize</a
          >
        </li>
        <li class="nav-item px-2">
          <a
            class="nav-link"
            href="{{url_for('audioCompress')}}"
            style="color: black"
            >Audio Compress</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
